<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="threecomerce_plugins" translate="label" sortOrder="9999">
            <label>Threecomerce Plugins</label>
        </tab>
        <section id="newsletter_privacy" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Newsletter Privacy Config</label>
            <tab>threecomerce_plugins</tab>
            <resource>Threecomerce_NewsletterPrivacy::newsletter_privacy_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Privacy Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Abilitato</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="text_privacy" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Testo privacy</label>
                    <comment>Inserisci il testo della privacy.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
